
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="../static/style_login_form.css">
</head>
<body>

  <div class="login-form">
    <div>
      <form action="/download" method="POST">
                        <div>
                        <label for="Image Name">Image Name</label>
                        <input type="text" name="image_name">
                        </div>
                        <br>
                        <div>
                        <label for="Number">Number Images</label>
                        <input type="text" name="number_image">
                        </div>
                        <br>
                        <div>
                        <label for="Email">User Email</label>
                        <input type="text" name="email">
                        </div>
                        <br>
                        <div>
                        <label for="Time">Date Time</label>
                        <input type="datetime-local" name="time">
                        </div>
                        <br>
                        <div>
                        <button type="submit">Submit Job</button>
                        </div>

      </form>
  </div>

</body>
</html>