<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Downloaded</title>
</head>
<body style="background: url('../static/bg/bg8.jpg');" >
    <div>
        <center>
        <div>

            <div style="width:55%;margin: 200px;box-shadow: 5px 5px 5px rgb(111, 114, 114);">
        <marquee behavior="" direction="">
            <h1 style="color: #9E9E9E;font-family: sans-serif;">  Thank You For Scheduling Job You Will Recieve An Email When Job Done  <strong>  {{Time}} </strong></h1>
        </marquee>
        </div>
        </div>
        </center>
    </div>
</body>
</html>